@import "../../styles/variables.scss";

.comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
  &__info {
    width: 80%;
    h3 {
      display: inline-block;
    }
  }

  &__action {
    display: flex;
    gap: 5px;
    align-items: center;
    p {
      font-size: 12px;
      color: $font-secondary-color;
    }
  }

  &__more {
    color: $font-secondary-color;
    text-decoration: underline;
    cursor: pointer;

    &:hover {
      color: $font-secondary-color-hover;
    }
  }
}
