@import "../../styles/variables.scss";

.page {
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 678px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 400px;

  &__signup {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;

    &.active {
      transform: translateX(100%);
      opacity: 1;
      z-index: 5;
    }
    //   ${props => props.signinIn !== true ? `
    //     transform: translateX(100%);
    //     opacity: 1;
    //     z-index: 5;
    //   `
    //   : null}
    //  `
  }

  &__signin {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    left: 0;
    width: 50%;
    z-index: 2;
    .active {
      transform: translateX(100%);
    }
    // ${props => (props.signinIn !== true ? `transform: translateX(100%);` : null)}
  }
}

.form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;

  input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
  &.active {
    transform: translateX(-100%);
  }
}

.overlay__inner {
  background: rgb(68, 169, 243);
  background: linear-gradient(
    49deg,
    rgba(68, 169, 243, 1) 0%,
    rgba(45, 253, 240, 1) 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;

  &.active {
    transform: translateX(50%);
  }
}

.overlay__left {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  // padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  transform: translateX(-20%);
  &.active {
    transform: translateX(0);
  }
}

.overlay__right {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;

  // padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
  right: 0;
  transform: translateX(0);
  &.active {
    transform: translateX(20%);
  }
}
