$background-color: #fff;

$strokes-color: #c5c5c5;

$font-secondary-color: #999999;
$font-secondary-color-hover: #6b6b6b;

$brand-color: #44a9f3;
$brand-color-hover: #085a94;
$brand-color-disabled: #c6dae8;

$brand-secondary-color: #d0d0d0;
$brand-secondary-color-hover: #858585;
