@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.mock {
  margin: 0 auto;
  margin-top: 40px;

  width: 80vw;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__icon {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
  &__desc {
    text-align: center;

    display: flex;
    flex-direction: column;
    gap: 10px;

    a {
      color: $brand-color;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@include mobile {
  .mock {
    width: 85vw;

    &__icon {
      width: 80px;
      height: 80px;
    }

    &__desc {
      h2 {
        font-size: 22px;
      }
    }
  }
}

@include ultraSmallMobile {
  .mock {
    width: 90vw;

    &__icon {
      width: 70px;
      height: 70px;
    }

    &__desc {
      h2 {
        font-size: 20px;
      }
    }
  }
}
