@import "../styles/variables.scss";
@import "../styles/mixins.scss";

.header {
  position: fixed;

  width: 280px;
}

@include tablet {
  .header {
    position: initial;
    max-width: 630px;
    width: 100%;

    margin: 0 auto;
  }
}
