@import "../../styles/variables.scss";

.moment {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding-bottom: 20px;
  // border-bottom: 2px solid $strokes-color;
  margin-top: 20px;

  &__header {
    width: 100%;
    display: flex;
    align-items: center;

    &_image {
      width: 50px;
      height: 50px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 10px;
      img {
        height: 150%;
      }
    }

    h3 {
      margin-right: 10px;
    }
  }

  &__content {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 7px;
  }

  &__adding {
    display: flex;
  }
}
