@import "../../styles/variables.scss";

.container {
  background-color: #fff;
  width: 100%;
  // max-width: 400px;
  border-radius: 5px;
  padding: 10px;
  height: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__list {
    width: 100%;
    overflow-y: auto;

    &_item {
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &_avatar {
        width: 60px;
        height: 60px;
      }
    }
  }
}
