@import "../../styles/variables.scss";

.header {
  position: fixed;
  border-right: 1px solid $strokes-color;
  height: 100vh;
  width: 280px;

  &__inner {
    margin-top: 50px;
  }

  &__logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    h2 {
      font-size: 32px;
    }
  }

  &__nav {
    margin-top: 70px;

    li {
      a {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px 0;
        padding-left: 20px;

        p {
          font-size: 24px;
        }
      }
    }
  }
}

.active {
  background-color: rgb(223, 223, 223);
}
